<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
  _______________________________
<% end %>

<h2><%=@figure.name%></h2>

<h3>Figure Titles:</h3><%@figure.titles.each do |title|%> <ul><%=title.name%></ul> <%end%>
<h3>Figure Landmarks:</h3><%@figure.landmarks.each do |landmark|%> <ul><%=landmark.name%></ul> <%end%>
